<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
</div>
<hr>
<p class="info" *ngIf ="chores.length > finishedChores.length">Work harder!</p>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
</div>
<hr>
<p *ngIf ="chores.length === 0 || finishedChores.length - chores.length >= 3; else noAllowance">
    <img src={{targetImage}}>
</p>
<ng-template #noAllowance>
    <div class="info">
       <p>No allowance yet.</p>
    </div>
<div class="info" *ngIf ="chores.length === 0 && finishedChores.length >= 3">
    <h1>Ice Cream Treat!</h1>
</div>